{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{%  block javascripts_head %}
     {{ parent() }}

    <link rel="icon" type="image/x-icon" href="{{ asset('logo-colmenapp.ico') }}" />

    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/js/angular-1.5.8/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/colmenapp/angular/main.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/colmenapp/angular/controllers/dashboardController.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/colmenapp/angular/controllers/colmenaController.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/colmenapp/angular/controllers/apiarioController.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/colmenapp/angular/controllers/alertaController.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/colmenapp/angular/controllers/finanzaController.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/js/angular-1.5.8/angular-chart.js/node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/colmenappplataforma/js/angular-1.5.8/angular-chart.js/angular-chart.js') }}"></script>
    <script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
{% endblock  %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte-all.css') }}" />
{% endblock %}


{% block title %}
    ColmenApp
{% endblock %}

{% block avanzu_admin_header %}
    <header class="main-header">
        {% block avanzu_logo %}
            <a href="#" class="logo">
                <img src="{{ asset('bundles/colmenappplataforma/colmenapp/img/logo-colmenapp.png') }}" height="35" width="35" />
                {{ block('title') }}
            </a>
        {% endblock %}
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block avanzu_navbar %}
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <img width="18" height="18" src="{{ asset('img/user-icon.png') }}" />
                                    <span class="hidden-xs">Oscar Rodríguez</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="{{ asset('img/user-icon.png') }}" />
                                        <p>
                                            Oscar Rodríguez - Administrador
                                            <small>Miembro desde 15 nov de 2015</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="col-4 text-center">
                                            <a href="#">Último login 22-04-2016</a>
                                        </div>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat">Salir</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
        </nav>
    </header>
{% endblock %}

{% set name = app.request.attributes.get('_name') %}
{% block avanzu_sidebar %}
    <div class="sidebar">
        <!-- user panel (Optional) -->
        <div class="user-panel">

        </div><!-- /.user-panel -->

        <!-- Search Form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
            </div>
        </form><!-- /.sidebar-form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li class=" {% if app.request.attributes.get('_name') == 'home' %}active{% endif %}">
                <a href="{{ path('colmenapp_plataforma_homepage') }}"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Panel de Control</span></a>
            </li>
            <li class="treeview {% if app.request.attributes.get('_name') == 'apiario' %}active{% endif %}">
                <a href="{{ path('apiario') }}"><i class="fa fa-cubes" aria-hidden="true"></i>
                    <span>Apiarios</span><i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-fw fa-plus"></i>
                            Crear Apiario
                        </a>
                    </li>
                    <li class="{% if app.request.attributes.get('_name') == 'apiario' %}active{% endif %}">
                        <a href="{{ path('apiario') }}">
                            <i class="fa fa-fw fa-eye"></i> Ver Apiarios
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if app.request.attributes.get('_name') == 'colmena' %}active{% endif %}">
                <a href="{{ path('colmena') }}"><i class="fa fa-archive" aria-hidden="true"></i>
                    <span>Colmenas</span><i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-fw fa-plus"></i> Crear Colmena</a></li>
                    <li><a href="{{ path('colmena') }}"><i class="fa fa-fw fa-eye"></i> Ver Colmenas</a></li>
                </ul>
            </li>
            <li class=" {% if app.request.attributes.get('_name') == 'alimentacion' %}active{% endif %}">
                <a href="{{ path('alimentacion') }}"><i  class="fa fa-cutlery" aria-hidden="true"></i>
                    <span>Alimentación</span>
                </a>
            </li>
            <li class=" {% if app.request.attributes.get('_name') == 'tratamiento' %}active{% endif %}">
                <a href="{{ path('tratamiento') }}"><i  class="fa fa-flask" aria-hidden="true"></i>
                    <span>Tratamientos</span>
                </a>
            </li>
            <li class=" {% if app.request.attributes.get('_name') == 'nucleo' %}active{% endif %}">
                <a href="{{ path('nucleo') }}"><i class="fa fa-fw fa-cube" aria-hidden="true"></i>
                    <span>Núcleos</span>
                </a>
            </li>
            <li class=" {% if app.request.attributes.get('_name') == 'produccion' %}active{% endif %}">
                <a href="{{ path('produccion') }}"><i class="fa fa-fw fa-industry" aria-hidden="true"></i>
                    <span>Producción</span>
                </a>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-eye"></i><span>Inspecciones</span></a></li>
            <li><a href="#"><i class="fa fa-fw fa-eye"></i><span>Tareas Programadas</span></a></li>
            <li class="treeview {% if app.request.attributes.get('_name') == 'finanzas' %}active{% endif %}">
                <a href="{{ path('finanza') }}"><i class="fa fa-fw fa-calculator"></i><span>Finanzas</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('finanza') }}"><i class="fa fa-fw fa-eye"></i> Ver movimientos</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>Reportes y Estadísticas</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#">Estadísticas</a></li>
                    <li><a href="#">Reportes</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><span class="glyphicon glyphicon-bullhorn"></span><span>Alertas</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('alerta') }}"><i class="fa fa-fw fa-plus"></i> Nueva Alerta</a></li>
                    <li><a href="{{ path('alerta') }}"><i class="fa fa-fw fa-eye"></i> Ver alertas</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-fw fa-gear"></i>Configuración <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('alerta') }}"><i class="fa fa-fw fa-users"></i> Usuarios</a></li>
                    <li><a href="{{ path('alerta') }}"><i class="fa fa-fw fa-asterisk"></i> Cuenta</a></li>
                    <li><a href="{{ path('alerta') }}"><i class="fa fa-fw fa-credit-card"></i> Pagos</a></li>
                    <li><a href="{{ path('alerta') }}"><i class="fa fa-fw fa-gears"></i> De sistema</a></li>
                </ul>
            </li>
        </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
{% endblock %}


{% block page_title %}
    Periodo de producción
{% endblock %}

{% block page_subtitle %}
    Subtitulo
{% endblock %}

{% block avanzu_breadcrumb %}
    {{ render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('page_title')})) }}
{% endblock %}

{% block page_content %}
    contenido de la pagina
{% endblock %}


{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.1
        </div>
        <strong>Colmenapp Copyright &copy; 2016-2017 <a href="http://almsaeedstudio.com">Colmenapp.com</a>.</strong> Todos los derechos reservados.
    </footer>
{% endblock %}
