{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-fw fa-cubes"></i> Gestión de Apiario
</h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#"><i class="fa fa-fw fa-cubes"></i> Apiario</a></li>
        <li><a href="#"><i class=""></i> Detalle</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<section ng-controller="apiarioController">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid box-default ">
                <div class="box-header">
                    <h3 class="box-title">Información gral. del apiario</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-angle-right"> </i> Nombre del apiario</td>
                            <td>Los algarrobos</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker"></i> Ubicación</td>
                            <td colspan="2">Chamical - La Rioja</td>
                        </tr>
                        <tr>
                            <td><a href="{{ path('colmena') }}"><i class="fa fa-archive"></i> Número de colmenas</a></td>
                            <td>
                                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="43 colmenas">43</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{{ path('colmena') }}"><i class="fa fa-fw fa-cube"></i> Núcleos en Producción</a></td>
                            <td>
                                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="13 núcleos">13</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i> Última visita</td>
                            <td>
                                23/04/2016
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <iframe style="border:none;" src="{{ clima }}"></iframe>
                            </td>
                        </tr>
                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

        <!--****************************************************************** TABS ****************************************************-->
        <div class="col-md-8">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li data-toggle="tooltip" data-original-title="Inspección a Apiario" class="active">
                        <a href="#tab_1" data-toggle="tab"><i class="fa fa-fw fa-eye"></i>Inspecciones</a>
                    </li>
                    <li data-toggle="tooltip" data-original-title="Alimentación">
                        <a href="#tab_2" data-toggle="tab"><i class="fa fa-fw fa-cutlery"></i> Alimentación</a>
                    </li>
                    <li data-toggle="tooltip" data-original-title="Tratamientos Aplicados">
                        <a href="#tab_3" data-toggle="tab"><i class="fa fa-fw fa-flask"></i> Tratamientos</a>
                    </li>
                    <li data-toggle="tooltip" data-original-title="Producción del Apiario">
                        <a href="#tab_4" data-toggle="tab"><i class="fa fa-fw fa-industry"></i> Producción</a>
                    </li>
                    <li data-toggle="tooltip" data-original-title="Finanzas del Apiario">
                        <a href="#tab_5" data-toggle="tab"><i class="fa fa-fw fa-money"></i> Finanzas</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody><tr>
                                    <th>Fecha</th>
                                    <th>Tarea Ejecutada</th>
                                    <th>Observaciones</th>
                                    <th>Ver</th>
                                </tr>
                                <tr>
                                    <th style="width: 15%">25-02-2017</th>
                                    <td>Armado de cerco perimetral</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>10-01-2017</th>
                                    <td>Aplicar medicamento a colmenas</td>
                                    <td>Colmena 13 en observación</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>29-12-2016</th>
                                    <td>Alimentación</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>18-12-2016</th>
                                    <td>Alimentación y tratamiento preventivo</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody></table>
                            <a style="color: white;" href="{{ path('inspeccion') }}"><button type="button" class="btn btn-block btn-info">Ver Inspecciones</button></a>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Observación</th>
                                    <th>Ver</th>
                                </tr>
                                <tr>
                                    <th>24-09-2017</th>
                                    <td>Líquido</td>
                                    <td>Propóleo</td>
                                    <td>Ninguna</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>24-09-2017</th>
                                    <td>Líquido</td>
                                    <td>Propóleo</td>
                                    <td>Ninguna</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>24-09-2017</th>
                                    <td>Líquido</td>
                                    <td>Propóleo</td>
                                    <td>Ninguna</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a style="color: white;" href="{{ path('alimentacion') }}"><button type="button" class="btn btn-block btn-info">Ver Alimentación</button></a>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th>Observaciones</th>
                                    <th>Ver</th>
                                </tr>
                                <tr>
                                    <th>19-02-2016</th>
                                    <td>Primavera</td>
                                    <td>Se aplicó polimorfina</td>
                                    <td>Ninguna</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>19-02-2016</th>
                                    <td>Primavera</td>
                                    <td>Se aplicó polimorfina</td>
                                    <td>Ninguna</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>19-02-2016</th>
                                    <td>Primavera</td>
                                    <td>Se aplicó polimorfina</td>
                                    <td>Ninguna</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a style="color: white;" href="{{ path('tratamiento') }}"><button type="button" class="btn btn-block btn-info">Ver Tratamientos</button></a>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_4">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>13/14</th>
                                    <th>14/15</th>
                                    <th>Ver</th>
                                </tr>
                                <tr>
                                    <th>Miel</th>
                                    <td>54 kg</td>
                                    <td>45 kg</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Jalea Real</th>
                                    <td>48 kg</td>
                                    <td>58 kg</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Propoleo</th>
                                    <td>52 kg</td>
                                    <td>00 kg</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a style="color: white;" href="{{ path('produccion') }}"><button type="button" class="btn btn-block btn-info">Ver Producción</button></a>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_5">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                    <th>Ver</th>
                                </tr>
                                <tr>
                                    <th>23-02-2016</th>
                                    <td><span class="badge bg-green">Ingreso</span></td>
                                    <td>Venta de núcleo</td>
                                    <td>$581</td>
                                    <td>Pendiente</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>23-02-2016</th>
                                    <td><span class="badge bg-red">Egreso</span></td>
                                    <td>Compra de cera</td>
                                    <td>$1255</td>
                                    <td>Pagado</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>23-02-2016</th>
                                    <td><span class="badge bg-green">Ingreso</span></td>
                                    <td>Venta de núcleo</td>
                                    <td>$790</td>
                                    <td>Cobrado</td>
                                    <td>
                                        <a href="#">
                                            <i data-toggle="tooltip" data-original-title="Ver Detalle" class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a style="color: white;" href="{{ path('produccion') }}"><button type="button" class="btn btn-block btn-info">Ver Finanzas</button></a>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>

    <!--********************************************************* COLMENAS OBSERVADAS **************************-->
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-warning"></i> <a href="{{ path('colmenas_observadas') }}">Colmenas Observadas</a></h3>
                </div>
                <div class="box-body">
                    <a href="#"> <h1 style="font-size: 6ch;" class="profile-username text-center"><a href="{{ path('colmenas_observadas') }}">4</a></h1></a>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
    <!--***************************************************** REINAS OBSERVADAS *************************************-->
        <div class="col-md-4">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-warning"></i><a href="{{ path('reinas_observadas') }}"> Reinas Observadas</a></h3>
                </div>
                <div class="box-body">
                    <a href="#"> <h1 style="font-size: 6ch;" class="profile-username text-center"><a href="{{ path('reinas_observadas') }}"> 3</a></h1></a>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
    <!--***************************************************** GRAFICO DERECHA *************************************-->
        <div class="col-md-4">
            <div class="box box-solid box-default">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-list"></i> Tareas Programadas</h3>
                </div>
                <div class="box-body">
                    <a href="#"> <h1 style="font-size: 6ch;" class="profile-username text-center">9</h1></a>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



