{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-fw fa-cubes"></i> Listado de Apiarios
</h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#"><i class="fa fa-fw fa-cubes"></i> Apiario</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<br>
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-fw fa-plus"></i> Agregar apiario
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Identificador</th>
                            <th>Nombre</th>
                            <th>Ubicación</th>
                            <th>Nro. Colmenas</th>
                            <th>Última visita</th>
                            <th>Estado</th>
                            <th>Editar</th>
                            <th>Ver</th>
                        </tr>
                        <tr>
                            <td><a href="{{ path('apiario_detalle') }}">1</a></td>
                            <td>Los Algarrobos</td>
                            <td>Chamical</td>
                            <td>120</td>
                            <td>20-11-2016</td>
                            <td><span class="badge bg-green">Activo</span></td>
                            <td><a href="{{ path('apiario_detalle') }}">
                                    <i class="fa fa-fw fa-pencil-square-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('apiario_detalle') }}">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{{ path('apiario_detalle') }}">2</a></td>
                            <td>Agua Blanca</td>
                            <td>Chepes</td>
                            <td>110</td>
                            <td>19-10-2016</td>
                            <td><span class="badge bg-red">Inactivo</span></td>
                            <td><a href="{{ path('apiario_detalle') }}">
                                    <i class="fa fa-fw fa-pencil-square-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('apiario_detalle') }}">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>





{% endblock %}




