{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-dashboard"></i> Panel de Control
</h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Panel de Control</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<section ng-controller="dashboardController">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="fa fa-fw fa-cubes"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Apiarios</span>
                        <span class="info-box-number">2</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          <a style="color: white!important;" href="{{ path('apiario') }}"> Ver apiarios</a>
                        </span>
                    </div>
                </div>
             </div>
            <div class="col-md-4">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-archive"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Colmenas</span>
                        <span class="info-box-number">349</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          <a style="color: white!important;" href="{{ path('colmena') }}"> Ver Colmenas</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-bullhorn"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Alertas Activas</span>
                        <span class="info-box-number">8</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                           <a style="color: white!important;" href="{{ path('alerta') }}">Ver Alertas</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-money"></i>Ingresos/Egresos ($ / mes)</h3>
                </div>
                <br>
                <div class="box-body">
                <canvas id="bar"
                        class="chart chart-bar ng-isolate-scope"
                        chart-data    = "data"
                        chart-labels  = "labels"
                        chart-series  = "seriesIngresosEgresos"
                        chart-options = "options"
                        chart-click   = "onClick"
                        chart-colors  = "colorsIngresosEgresos"
                        >
                </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-list"></i> Tareas Programadas</h3>
                </div>
                <br>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Fecha</th>
                            <th>Apiario</th>
                            <th>Descripción</th>
                            <th>Ver</th>
                        </tr>
                        <tr>
                            <td>23-11-2016</td>
                            <td>Los Algarrobos</td>
                            <td>Inicio de estimulación</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>11-12-2016</td>
                            <td>Los Algarrobos</td>
                            <td>Tratamiento preventivo</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>23-11-2016</td>
                            <td>Agua Blanca</td>
                            <td>Control de reinas</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('tarea_programada') }}">
                        <button type="button" class="btn btn-block btn-info"><i class="fa fa-fw fa-eye"></i> Ver Tareas Programadas</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--********************************************************* COLMENAS OBS, REINAS OBS, NUCLEOS PROD ****************************************-->
    <BR>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-warning"></i><a href="{{ path('colmenas_observadas') }}"> Colmenas Observadas</a></h3>
                </div>
                <div class="box-body">
                    <a href="#"> <h1 style="font-size: 6ch;" class="profile-username text-center"><a href="{{ path('colmenas_observadas') }}">4</a></h1></a>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-warning"></i> <a href="{{ path('reinas_observadas') }}">Reinas Observadas</a></h3>
                </div>
                <div class="box-body">
                    <a href="#"> <h1 style="font-size: 6ch;" class="profile-username text-center"><a href="{{ path('reinas_observadas') }}">7</a></h1></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-solid box-default">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-cube"></i><a href="{{ path('nucleo') }}"> Núcleos En Producción</a></h3>
                </div>
                <div class="box-body">
                    <a href="#"> <h1 style="font-size: 6ch;" class="profile-username text-center"><a href="{{ path('nucleo') }}">4</a></h1></a>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}





