{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}



{% block page_title %}
    <h2 class="page-header">
        <i class="fa fa-archive"></i>  Listado de Colmenas
    </h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-archive"></i>Listado de Colmenas</a></li>
    </ol>
{% endblock %}

{% block page_content %}
    <section ng-controller="colmenaController" ng-cloak>
        {% verbatim %}
        <div class="row">
            <div class="col-md-5">
                <form class="form-horizontal" name="colmenaForm" novalidate>
                    <div class="box-body">
                        <div class="form-group">
                            <label  type="text" class="col-sm-2 control-label">Seleccione Apiario</label>
                            <div class="col-sm-10">
                                <select ng-change="seleccionarApiario(apiario)"  class="form-control" ng-model="apiario" required>
                                 <option  ng-repeat="apiario in apiarios" value="{{apiario.id}}">{{ apiario.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endverbatim %}
        <div class="row" ng-show="mostrarTabla || mostrarSinRegistrosMsj">
            <div class="col-md-10">
                <a href="" data-toggle="modal" data-target=".modal-nueva-colmena">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-fw fa-plus"></i> Nueva Colmena
                    </button>
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <toaster-container></toaster-container>
            <div id="loading-bar-container"></div>
            <div class="col-md-10">
                <div class="callout callout-info" ng-if="mostrarSelApiario">
                    <h4>Seleccione Apiario</h4>
                    <p>Seleccione un apiario para ver sus colmenas.</p>
                </div>
                <div ng-show="error" class="callout callout-danger">
                  <h4>Error!</h4>
                  <p>Ocurrió un error obteniendo las inspecciones del apiario</p>
                </div>
                <div class="callout callout-info" ng-show="mostrarSinRegistrosMsj && !mostrarTabla && !error">
                    <h4><i class="fa fa-fw fa-info-circle"></i> No se encontraron colmenas.</h4>
                    <p>Agregue una nueva colmena en "<strong>Nueva Colmena</strong>"</p>
                    <p><a ng-click="seleccionarApiario(apiarioSeleccionado)">Intentar de nuevo <i class="fa fa-fw fa-refresh"></i></a></p>
                </div>
                <div class="box box-info" ng-if="mostrarTabla">
                    <div ng-show="mostrarSpinner" style="text-align:center;">
                        <img width="250px" heigth="250px" align="center" src="{{ asset('bundles/colmenappplataforma/img/spinner.gif') }}" />
                    </div>
                    <div class="box-body no-padding">
                        {% verbatim %}
                            <div ng-if="!mostrarSpinner" class="table table-striped" style="height:330px!important;"  ui-grid="gridOptionsColmena" ui-grid-pagination></div>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        </div>

        {% verbatim %}
        <div class="modal fade modal-default modal-nueva-colmena">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" ng-click="limpiarForm()">×</span></button>
                        <h4 class="modal-title">Nueva Colmena</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="colmenaForm" novalidate>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Crear Multiple Colmenas</label>
                                    <div class="col-sm-10">
                                        <input type="number" ng-change="checkMultipleActivado(colmenaForm.multiple)"  ng-pattern="/^[0-9]{1,3}$/" ng-model="colmenaForm.multiple" min="0" class="form-control" placeholder="Ingrese Cantidad de Colmenas (max 100)">
                                        <span class="help-block" ng-show="errorMultiple"><p class="text-red">La cantidad máxima de colmenas no puede exceder los 100</p></span>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="!ocultarIdentificador">
                                    <label class="col-sm-2 control-label">Identificador</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="colmenaForm.identificador" name="subject" class="form-control"  placeholder="Ingrese identificador">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="ocultarIdentificador">
                                    <div class="callout callout-info">
                                        <p><i class="fa fa-fw fa-info"></i> Si elije crear multiples colmenas, el sistema generará automaticamente los identificadores de cada una.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  type="text" class="col-sm-2 control-label">Tipo</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="colmenaForm.tipo" required>
                                            <option ng-repeat="tipo in tiposColmenas" value="{{tipo.id}}">{{ tipo.descripcion }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Rejilla Excluidora</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" ng-model="colmenaForm.rejilla">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cámaras de crías</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="colmenaForm.camara">
                                            <option value=1 selected="selected">1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="limpiarForm()">Cerrar</button>
                            <button data-dismiss="modal" ng-click="guardarColmena(colmenaForm)" ng-disabled="colmenaForm.$invalid" type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}

        <div ng-if="editar" class="modal fade modal-default modal-editar-colmena">
            {% include 'ColmenappPlataformaBundle:Colmena:editar.html.twig' %}
        </div>


    </section>

{% endblock %}
